body{
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    color: #999;
    
}


.showcase-top {
	position: relative;
	z-index: 1;
	height: 90px;
   display: grid;
   justify-content: center;
   align-items: center;
}
.showcase-top img {
	width: 160px;
	position: absolute;
	top: 40%;
	transform: translate(-50%, -50%);
	margin-left:  220px;
}
.showcase a{
    position: absolute;
	top: 40%;
	right: 155px;
	transform: translate(-50%, -50%);
     background-color: red;
     width: 75px;
     height: 25px;
     border-radius: 4px;
     color: #fff;
     text-decoration: none;
     text-align: center;
     padding-top: 6px;
     
    }
    .showcase{
        width: 100%;
        height: 95vh;
        background-repeat: no-repeat ;
        background-size: cover;
        background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/b85863b0-0609-4dba-8fe8-d0370b25b9ee/fdf508c8-97d0-42fd-a6f9-9bef6bf96934/IN-en-20230731-popsignuptwoweeks-perspective_alpha_website_large.jpg)
        
    }
     .showcase-content {
       color: #fff;
       display: grid;
       justify-content: center;
       align-items: center;
       
        
       
    }
 .showcase-content::after{
    content: " ";
    position: absolute;
    top: 0;
    left:  0;
    width: 100% ;
    height: 100%;
       background: rgba(0, 0, 0, 0.4);
    box-shadow: inset 100px 90px 220px #000000,inset -100px -90px 220px #000000 ;
 }
 .showcase-content h1{
    font-size: 44px;
    font-weight: 770;
    z-index: 2;
    margin-top: -750px;
   

 }.showcase-content p{
    font-size: 28px;
    font-weight: 500;
    z-index: 2;
    margin-top: -630px;
    margin-left: 200px;
 }
 .showcase-content h3{   

    font-size: 22px;
    font-weight: 500;
    z-index: 2;
    margin-top: -520px;
    display: inline; 
    width: 700px;
    margin-left: 70px; 
 }
 .showcase-container{
    z-index: 2;
    margin-top: -420px;
    margin-left: 100px;
    height: 55px;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
}
 #text{
   margin-left: -265px;
     width: 400px;
    
     background-color:rgba(46, 44, 44, 0.818);
     border-width: 1px;
     border-top: #999;
     border-color: #999;
     border-radius: 4px;
     color: #fff;
   
 }
 .button{
   z-index: 2;
   background-color: red;
   margin-top: -420px;
   margin-left: 530px;
  width: 200px;
  height: 55px;
  border-radius: 4px;
 }
 #button-xl{
   color: #fff;
   text-decoration: none;
   font-size: 28px;
   font-weight: 500;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 8px;
 }
.button:hover{
   background-color: rgb(232, 0, 0);
}
.box1{
    height: 380px;
    z-index: 2;
    color: #fff;
    margin-top: 200px;
    margin-left: 150px;
   
}
.box1 h2{
   font-size: 45px;
   font-weight: 900;
}
.box1 p{
   font-size: 25px;
   font-weight: 400;
   
}
img{

   z-index: 1;
    background-size:cover;
    height: 440px;
    margin-top: -340px;
    margin-left: 610px;
    position: relative;

}
.vide1{
position:relative;
	
   z-index: -1;
   margin-left: 690px;
   margin-top:  -350px;
   width: 400px;

}
video{
   
   z-index: -1;
   height: 237px;
   
}
.box2{
    height: 410px;
    color: #fff;
}
.box2 h3{
   display: flex;
   justify-content: center;
   align-items: center ;
   margin-right: 13%;
   margin-left: 45%;
   margin-top: 10%;
   font-size: 49px;
   font-weight: 900;

}
.box2 p{
   display: flex;
   justify-content: center;
   align-items: center ;
   margin-right: 13%;
   margin-left: 45%;
   margin-top: -20px;
   font-size: 22px;
   font-weight: 550;
   
}
 .box2 img{ 
   margin-left: 3%;
   padding: 20px;
   width: 600px;
   height: 300px;
}
.box3{
    height: 430px;
    color: #fff;
}
.box3 h2{
   
   margin-left: 11%;
   margin-top: 220px;
   font-size: 45px;
   font-weight: 900;
}
.box3 p{
   display: flex;
   width: 480px;
  margin-left: 170px;
   margin-top: -20px;
   font-size: 24px;
   font-weight: 480;
   

}


.box4{
    height: 400px;
    color: #fff;
}
.box4 h2{
   font-size: 50px;
   margin-top: 190px;
   margin-left: 50%;

}
.box4 p{
   font-size: 30px;
   margin-left: 50%;
}
.box4 img{
   margin-top: -330px;
   margin-left: 10%;
}
.border1{
   width: 100%;
   background-color:  rgb(35,35,35);
   height: 40px;
}
.border2{
   width: 100%;
   background-color:  rgb(35,35,35);
   height: 10px;
}
.border3{
   width: 100%;
   background-color:  rgb(35,35,35);
   height: 10px;
}
.border4{
   width: 100%;
   background-color:  rgb(35,35,35);
   height: 10px;
}
.border5{
   width: 100%;
   background-color:  rgb(35,35,35);
   height: 10px;
}
